/* Global Body Tag Style */
body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #f1f1f1;
  height: 2000px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
  background-image: url("../img/qbkls.png");
}

/* Links Globally */
a {
  color: white;
}

/*  Links Each state */

a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: red;
}
a:focus {
  text-decoration: none;
  color: grey;
}
a:hover,
a:active {
  text-decoration: none;
  color: red;
}

/* Nav Styles */
#nav {
  background-color: #222;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
}
#nav p {
  display: inline-block;
  color: white;
  font-size: 15px;
}

#nav-wrapper {
  width: 960px;
  margin-right: auto;
  padding-right: 25px;
  height: 50px;
  position: relative;
  bottom: 0;
  float: right;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

#nav ul li {
  display: inline-block;
  color: white;
}

#nav ul li:hover {
  background-color: #333;
}

#nav ul li a:default {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#nav ul li a :visited {
  color: inherit;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#nametag {
  background-color: aqua;
  height: 50px;
  width: 200px;
  background-position-y: 3;
  text-decoration-style: none;
  text-decoration: none;
  word-wrap: unset;
  border-style: solid;
  border-width: 1px;
  border-color: #222;
  border-spacing: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 20px;
}

/* Main Content Style */

#wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

#content {
  background-color: #fff;
  border: 3px solid #ddd;
  padding: 20px;
  margin: 175px 0 0 0;
}
.portrait {
  border-style: groove;
  border-width: 10px;
  border-color: black;
  margin-left: auto;
  margin-right: 10px;
  float: left;
  width: 300px;
  height: 300px;
}

#patent {
  color: black;
}

#contact {
  display: flex;
  float: right;
}
#contact a {
  float: right;
  color: black;
  color: inherit;
}
